<div class="page-contentinfo contentinfo">
  <footer id="contentinfo" role="contentinfo" class="contentinfo__region container">
    <div class="row">
      <div class="col-xs-12">
        <div id="block-address-address" class="block block--address-address block--first first block--last last odd">
          <div class="block__content">
            <div class="address" itemscope itemtype="http://schema.org/Organization" itemref="mOrga">
              <p class="my-0"><strong itemprop="name">{{ site.OWNER_NAME }}</strong></p>
              <p class="my-0">{{ site.OWNER_ADDRESS }}</span></p>
              <p class="my-0">Email&nbsp;: <span><a itemprop="email" href="mailto:{{ site.OWNER_EMAIL }}">{{ site.OWNER_EMAIL }}</a></span></p>
              <p class="my-0">Phone&nbsp;: <a href="tel:{{ site.OWNER_PHONE }}" itemprop="telephone">{{ site.OWNER_PHONE }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
