{% assign basePath = '' %}{% assign depth = page.url | split: '/' | size | minus: 1 %}{% if    depth <= 1 %}{% assign basePath = '.' %}{% elsif depth == 2 %}{% assign basePath = '..' %}{% elsif depth == 3 %}{% assign basePath = '../..' %}{% elsif depth == 4 %}{% assign basePath = '../../..' %}{% endif %}<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page.title == 'Home' %}<title>{{ site.SITE_NAME }} | {{ site.title }}</title>{% else %}{% if page.title %}{% if page.page_title %}<title>{{ page.page_title }} | {{ site.title }}</title>{% else %}<title>{{ page.title }} | {{ site.title }}</title>{% endif %}{% else %}<title>{{ site.title }}</title>{% endif %}{% endif %}
  <meta itemprop="name" content="{{ site.title }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="robots" content="noindex,nofollow" />
  {%- include styles.html -%}
  {%- include scripts.html -%}
</head>
{% assign collections = site.collections | sort: 'weight' %}
{% capture is_styleguide %}
  {% if page.group contains "Maquettes" && current_collection == false %}
    {% assign current_collection = 'project' %}
  {% else %}
    {% if page.group contains "styleguide" && current_collection == false %}
      {% assign current_collection = 'styleguide' %}
    {% else %}
      {% assign current_collection = page.collection %}
    {% endif %}
  {% endif %}
{% endcapture %}
{% assign current_group = page.group %}
